.App {
  display: flex;
  height: 622px;
  width: auto;
  color:rgb(255, 203, 203);
  padding: 20px;
  border: 1px solid lightgoldenrodyellow;
  background-image: url("https://images.unsplash.com/photo-1457364887197-9150188c107b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}